{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'input'>
<h1>Edit Item Name : {{ item.name }}</h1>
<form action="{{url_for('editItem',catalogname=catalogname,itemname=itemname)}}" method = 'post'>
	<p>Item Name </p>
	<input type='text' size='30' name='name' placeholder={{item.name}}>
	<p>Description</p>
	<input type='text' size='30' name='description' placeholder={{item.description}}>
	<p>Published Year</p>
	<input type='text' size='30' name='year' placeholder={{item.year}}>
	<p><input type='submit' value='Edit'></p>
	<a href ="{{url_for('showItem',catalogname=catalogname)}}">Cancel</a>
</form>
</div>
{% endblock %}